.card-page-wrap {
    padding: 0 10px;
    ul {
        list-style: none;
        -moz-column-count:2; /* Firefox */
        -webkit-column-count:2; /* Safari and Chrome */
        column-count:2;
        margin-bottom: 0px;
        padding: 0px;
        li {
             
            max-width: 210px;
            max-height: 250px;
            border-radius: 10px;
            margin-bottom: 10px; 
            padding: 10px;
            box-shadow: 0 0 10px #9a9a9a;
            img {
                 width: 100%;
                 max-height: 230px;
            }
        }
    }
}