.search-page-wrap {
    .search-page-searchcontent-wrap {
        ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
            li {
                display: flex;
                width: 100%;
                img {
                    width: 30%;
                }
                .content-right {
                    width: 50%;
                    margin-left: 20px;
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    p {
                        display:-webkit-box;
                        overflow:hidden;
                        text-overflow:ellipsis;
                        -webkit-line-clamp:3;
                        -webkit-box-orient:vertical;
                        color: #999;
                        margin: 0px;
                    }
                }
            }
        }
    }
    .search-page-searchbox {
        width: 100%;
        box-sizing: border-box;
        padding: 15px 15px;
        background: #fff;
        .ant-input {
            border-radius: 15px;
        }
         
    }
    .search-page-search-item {
         margin-top: 5px;
         .ant-tag {
            margin-bottom: 8px;
         }
         
    }
}