.search-page-wrap {
    .search-page-searchcontent-wrap {
        position: relative;
        text-align: center;
        padding: 10px 0px;
        ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
            li {
                display: flex;
                width: 100%;
                margin-bottom: 10px;
                img {
                    width: 30%;
                    max-height: 150px;
                }
                .content-right {
                    width: 50%;
                    margin-left: 20px;
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    h4 {
                        display:-webkit-box;
                        overflow:hidden;
                        text-overflow:ellipsis;
                        -webkit-line-clamp:2;
                        -webkit-box-orient:vertical;
                        margin: 0px;
                    }
                    span {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        color: #999;
                        margin-bottom: 5px;
                    }
                    p {
                        display:-webkit-box;
                        overflow:hidden;
                        text-overflow:ellipsis;
                        -webkit-line-clamp:3;
                        -webkit-box-orient:vertical;
                        color: #999;
                        margin: 0px;
                    }
                }
            }
        }
    }
    .search-page-searchbox {
        width: 100%;
        box-sizing: border-box;
        padding: 15px 15px;
        background: #fff;
        .ant-input {
            border-radius: 15px;
        }
         
    }
    .search-page-search-item {
         margin-top: 5px;
         .ant-tag {
            margin-bottom: 8px;
         }
         
    }
}